<div class="delivery-plan">
  <div class="row">
    <div class="col-12 col-md-8">
      <fieldset class="p-2 my-2">
        <legend>Cliente</legend>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            disabled
            readonly
            capitalizeInput
            aria-label="Cliente"
            aria-describedby="button-addon2"
            placeholder="Seleccione el Cliente"
            [(ngModel)]="nameClien"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
            (click)="seletcClient()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </fieldset>
    </div>
    <div class="col-12 col-md-6"></div>
  </div>
</div>

<app-delivery-plan-form *ngIf="client" [client] ="client"></app-delivery-plan-form>
